
body{
  background-image: url('../src/assets/Beginning.png');
  background-size: cover;
  
}
.picOfHangman{
  /* need logic to change background image */

}
.bottomLetterBorder{
  border-bottom: .1em solid black;

}
.wordDisplayStyle{
  display: flex;
  gap: .25em;
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: Arial;
}
.alphabetKeys{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: .5rem;
}
/* .inactive{
  opacity: 0.4;

} */
/* Remove any conflicting Bootstrap classes */
/* ... */

/* Update the .alphabetLtrs styles */
.alphabetLtrs {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 6 columns */
  gap: 0.1rem; /* Adjust the gap between buttons as needed */
  justify-content: center;
  align-items: flex-end;
  padding: 20px 0px; /* Adjust padding to control spacing */
  position: absolute; /* Position at the bottom */
  bottom: 0; /* Align to the bottom of the container */
  width: 100%; /* Take the full width of the container */
}


