
body{
  background-image: url('../src/assets/Beginning.png');
  background-size: cover;
  
}
.picOfHangman{
  /* need logic to change background image */

}
.bottomLetterBorder{
  border-bottom: .1em solid black;
  width: 80px;
  margin-top: 0;
  padding: 0;

}
.wordDisplayStyle{
  display: flex;
  justify-content: flex-start;
  margin-top: 200px;
  margin-left: 4rem;
  gap: .25em;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: Arial;
}
.alphabetKeys{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: .5rem;
}
.displayTitle{
  font-size: 50px;

}


.alphabetLtrs {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 6 columns */
  gap: 0.1rem; /* Adjust the gap between buttons as needed */
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0px;
  padding: 10px 10px; /* Adjust padding to control spacing */
  position: absolute; /* Position at the bottom */
  bottom: 0; /* Align to the bottom of the container */
  width: 85%; /* Take the full width of the container */

}

.playPauseImageSize{
  width: 65px;
  height: 65px;
}